.main-ButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;

  &.main-ButtonWrapper-tweet {
    margin-top: 16px;
  }
}

.main-Button,
.main-Button_Tweet {
  border: 1px solid #333;
  border-radius: 2px;
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 100%;
  margin-right: 16px;
  padding: 10px;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 0 0 3px #ddd;
    outline: none;
  }
}

.main-Button {
  width: 250px;
}
