-
  var meta = {
    dir: './',
    title: 'Text-Counter',
    description: '文章の文字数を数えて、雑に褒めます。原稿や卒論にお使いください。',
    keywords: ''
  };

doctype html
html(lang="ja")
  head
    title=meta.title
    meta(content=meta.description, name='description')
    meta(content=meta.keywords, name='keywords')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    meta(name="format-detection", content="telephone=no")
    link(rel='stylesheet', href=`${meta.dir}css/style.css`)
  body
    include ./_structure/_header
    .main-Wrapper
      h1.u-VisibilityHidden 文字数カウンター
      textarea.main-TextBox#textBox
      .counter-Wrapper
        p.counter-Letter
          span#counter 0
          |文字
        p.counter-Manuscript
          |400字詰原稿用紙
          span#counterManuscript 0
          |枚分
        p.counter-Page
          |A5原稿(目安)
          span#counterPage 0
          |ページ分
      .main-ButtonWrapper
        button.main-Button#praiseBtn 褒める
      .main-ButtonWrapper.main-ButtonWrapper-tweet
        a.main-Button_Tweet(href='') 今日の進捗としてツイートする
        a.main-Button_Tweet(href='') 原稿の進捗としてツイートする
    include ./_structure/_footer
    .praise#praise(aria-expanded='false')
      p.praise-Word#praiseWord
    script(src='./js/bundle.js')